<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeuPonto.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA527E832C8BD4FC008E4A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA527E962C8BD4FE008E4A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA527EA02C8BD4FE008E4A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
